*{box-sizing: border-box;}
      html, body{
        margin: 0;
      }
      body{
        font-family: "Open Sans";
      }

      /* Menu */
      .menu{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 61px;
        background-color: #070c21;
        background-color: #130721;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1000;
      }
      .menu-logo{
        z-index: 1050;
        max-width: 50px;
        position: absolute;
        bottom: -10px;
        left: 10px;
      }
      .menu-bar{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #130721;
        z-index: 1010;
      }
      .menu-ico{
        font-size: 24px;
        line-height: 28px;
        color: #f0f0e5;
        margin: 16px;
        margin-right: 20px;
        z-index: 1050;
      }
      .menu-itens{
        /*display: none;*/
        display: flex;
        opacity: 0;
        transform: translateY(-180px);
        transition: transform 500ms, opacity 300ms;
        flex-direction: column;
        width: 100vw;
        z-index: 1000;
      }
      .menu-aberto{
        /*display: flex;*/
        opacity: 1;
        transform: translateY(0px);
      }
      .menu-item{
        color: #eee;
        text-decoration: none;
        background-color: #2B0938;
        font-size: 17px;
        padding: 14px 28px;
        border-top: 1px solid #130721;
        z-index: 1000;
      }
      .close-menu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        z-index: 990;
        display: none;
      }

      /* Banner */
      .banner-box{
        height: calc(100vh - 60px);
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }
      .banner-img-box{
        position: absolute;
        top: -1px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        z-index: 100;
        background-color: #050917;
      }
      .banner-img{
        height: 100vh;
        z-index: 100;
      }
      .banner-titulo{
        color: #fff;
        z-index: 200;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
      }
      .banner-titulo h3{
        text-align: left;
        font-style: italic;
        font-weight: 500;
        margin: 0px;
      }
      .banner-titulo h1{
        font-size: 32px;
        line-height: 50px;
        margin: 0px;
      }
      .banner-titulo h2{
        font-size: 26.4px;
        font-weight: 500;
        margin: 0px;
      }
      .banner-titulo p{
        margin: 0px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        display: none;
      }
      .banner-arrow-box{
        position: absolute;
        width: 100vw;
        bottom: 16px;
        z-index: 200;
        display: flex;
        justify-content: center;
      }
      .banner-arrow{
        font-size: 48px;
        color: #fff;
        z-index: 200;
        text-shadow: 0 0 50px #000;
        transform: translateY(0px);
        transition: transform 1000ms;
      }
      .banner-arrow-alt{
        /*position: relative;
        top: 50px;*/
        transform: translateY(15px);
      }

      /* Padrão das sessões */
      .section{
        padding: 48px 24px;
      }
      .section-scroll{
        padding: 48px 0px;
      }

      /* Parte Sobre */
      .section-sobre{
        background-color: #540954;
        color: #f0f0e5;
        background-image: url("back.png");
        background-size: 100px;
      }
      .sobre-titulo{
        margin: 0px;
      }
      .text{
        margin-top: 32px;
        font-size: 16px;
        line-height: 26px;
      }

      /* Parte Detalhes */
      .section-detalhes{
        height: calc(100vh - 60px + 1px);
        background-color: #FFE4FF;
      }
      .detalhes-titulo{
        color: #333018;
        margin: 0px;
        margin-left: 24px;
        margin-right: 24px;
      }
      .detalhes-scroll{
        display: flex;
        overflow: auto;
        width: auto;
        height: 100%;
        align-items: center;
        padding: 0 32px;
      }
      .detalhes-item{
        width: 70vw;
        flex-shrink: 0;
        margin: 0 16px;
        border: 1px solid #eee;
        border-radius: 4px;
        /*box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);*/
        box-shadow: 0px 0px 20px 1px rgba(84, 68, 9, .5);
        padding: 4px 16px;
        background-color: #f4f4f0;
      }
      .detalhes-item-titulo{
        font-size: 16px;
      }
      .text-alt{
        font-style: italic;
      }
      .text-bold{
        font-weight: 700;
      }
      .item-final{
        padding: 0px 16px;
        color: #dad5b1;
      }


      /* Parte Contato */
      .section-contato{
        height: calc(100vh - 60px + 1px);
        display: flex;
        flex-direction: column;
        background-color: #f0f0f0;
      }
      .news-titulo{
        margin: 0px;
        flex-grow: 0;
      }
      .contato-box{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .news-form{
        display: flex;
        margin-top: 64px;
      }
      .input{
        padding: 8px 16px;
        font-size: 14px;
        border: 1px solid #999;
        border-radius: 2px;
      }
      .input:focus{
        outline-color: #333;
      }
      .news-input{
        flex-grow: 1;
        margin-right: 8px;
      }
      .button{
        background-color: #333;
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 2px;
        font-size: 14px;
      }
      .text-min{
        margin: 0px;
        margin-top: 8px;
        font-size: 14px;
        font-style: italic;
        text-align: center;
      }
      .social-item-box{
        display: flex;
        justify-content: center;
      }
      .social-item{
        color: #333;
        font-size: 64px;
        line-height: 64px;
        margin-left: 16px;
        margin-right: 16px;
      }



      /* Box modal */
      .box-modal{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1100;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .modal-close{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
      }
      .modal{
        width: 80vw;
        background-color: #fff;
        padding: 32px;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: 0px 0px 20px 1px #333;
        position: relative;
      }
      .modal-close-ico{
        position: absolute;
        top: 8px;
        right: 12px;
        color: #999;
      }
      .modal-titulo{
        font-size: 16px;
        margin: 0px;
        text-align: center;
      }
      .box-inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 16px;
      }
      .modal-input{
        width: 100%;
        margin-bottom: 8px;
      }
      .modal-button{
        width: 100%;
        display: block;
        text-align: center;
      }


      /* Footer */
      .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0px;
        background-color: #080C33;
        color: #fff;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
      }
      .ancora{
        display: block;
        height: 0px;
        color: rgba(255, 255, 255, 0);
        position: relative;
        top: -60px;
      }




    /* Estilo a ser aplicado para mobile em modo paisagem */
    @media (max-width: 960px) and (min-aspect-ratio: 13/9) {

      .banner-titulo{
        position: relative;
        top: -5vw;
      }


      .section {
          padding: 64px 32px;
      }
      .section-scroll {
          padding: 64px 0px;
      }


      .section-detalhes{
        height: auto;
      }
      .detalhes-titulo {
        margin-left: 32px;
        margin-right: 32px;
      }
      .detalhes-item{
        margin-top: 48px;
        margin-bottom: 24px;
      }


      .section-contato{
        height: auto;
      }
      .contato-box{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: flex-end;
        margin-top: 48px;
      }
      .news-box{
        margin-left: 32px;
      }
      .news-form {
        display: flex;
        margin-top: 0px;
      }
      .text-min{
        margin-top: 4px;
      }
      .text-min-alt{
        margin-top: 9px;
      }


    }






      /* Estilo a ser aplicado para computador */
      @media(min-width: 960px){
        .menu{
          height: 101px;
        }
        .menu-logo{
          max-width: 86px;
          bottom: 7px;
          left: 30px;
        }
        .menu-bar{
          display: none;
        }
        .menu-ico{
          display: none;
        }
        .menu-itens{
          display: flex;
          opacity: 1;
          transform: translateY(0px);
          flex-direction: row;
          align-items: center;
          width: auto;
          height: 100px;
        }
        .menu-item{
          color: #f0f0e5;
          text-decoration: none;
          background-color: inherit;
          border-top: none;
          font-size: 18px;
          transition: color 300ms, border-color 300ms;
          padding: 0px;
          padding-bottom: 4px;
          margin-right: 32px;
          border-bottom: 1px solid #130721;
        }
        .menu-item:hover{
          color: #fff;
          border-color: #fff;
        }
        /*.banner-box{
          margin-top: 100px;
          height: calc(100vh - 100px);
        }
        .banner-img-box{
          height: calc(100vh - 100px + 1px);
        }
        .banner-img{
          height: calc(100vh - 100px + 1px);
        }*/
        .banner-titulo{
          position: relative;
          left: 25vw;
        }
        .banner-titulo h3{
          font-size: 24px;
        }
        .banner-titulo h1{
          font-size: 42px;
        }
        .banner-titulo h2{
          font-size: 34.6px;
        }
        .banner-titulo p{
          font-size: 18px;
          display: none;
        }
        .banner-arrow-box{
            align-items: center;
            height: 100px;
        }
        .banner-arrow{
          font-size: 64px;
          color: #fff;
          z-index: 200;
          text-shadow: 0 0 50px #000, 0 0 10px #000;
          transition: font-size 100ms, text-shadow 100ms, transform 1000ms;
        }
        .banner-arrow:hover{
          font-size: 78px;
          text-shadow: 0 0 50px #000, 0 0 20px #000, 0 0 10px #000, 0 0 5px #000;
        }

        .section-sobre{
          height: calc(100vh - 100px);
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: 150px;
        }
        .sobre-titulo{
          width: 280px;
          font-size: 48px;
          margin-right: 100px;
        }
        .sobre-text-box{
          width: 620px;
        }
        .sobre-text-box .text{
          font-size: 20px;
          line-height: 30px;
        }


        .section-detalhes{
          height: calc(100vh - 100px);
        }
        .detalhes-titulo{
          text-align: center;
          margin-top: 40px;
          font-size: 42px;
        }
        .detalhes-scroll{
          display: flex;
          overflow: hidden;
          width: 100%;
          align-items: center;
          justify-content: center;
          padding: 0 32px;
        }
        .detalhes-item{
          width: calc(1000px / 3 - 32px);
          flex-shrink: 1;
          flex-grow: 0;
          margin: 0 16px;
          border: 1px solid #eee;
          border-radius: 4px;
          /*box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);*/
          box-shadow: 0px 0px 20px 1px rgba(84, 68, 9, .5);
          padding: 4px 16px;
          background-color: #f0f0e5;
        }
        .detalhes-item-titulo{
          font-size: 16px;
        }
        .text-alt{
          font-style: italic;
        }
        .text-bold{
          font-weight: 700;
        }
        .item-final{
          display: none;
        }

        .section-contato{
          height: calc(100vh - 100px);
        }
        .news-titulo{
          text-align: center;
          margin-top: 40px;
          font-size: 42px;
          flex-grow: 0;
        }
        .contato-box{
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          align-items: center;
        }
        .news-form{
          display: flex;
          align-items: center;
          margin-top: 0px;
          width: 400px;
        }
        .news-box{
          margin-top: 76px;
        }
        .input{
          padding: 12px 24px;
          font-size: 16px;
          border: 1px solid #999;
          border-radius: 2px;
        }
        .input:focus{
          outline-color: #333;
        }
        .news-input{
          flex-grow: 1;
          margin-right: 8px;
        }
        .button{
          background-color: #333;
          color: #fff;
          text-decoration: none;
          padding: 11px 24px;
          border-radius: 2px;
          font-size: 16px;
        }
        .text-min{
          margin: 0px;
          margin-top: 24px;
          font-size: 18px;
          font-style: italic;
          text-align: center;
        }
        .text-min-alt{
          margin-top: 32px;
        }
        .social-box{
          width: 500px;
        }
        .social-item-box{
          display: flex;
          justify-content: center;
        }
        .social-item{
          color: #333;
          font-size: 128px;
          line-height: 64px;
          margin-left: 32px;
          margin-right: 32px;
        }

        .modal{
          width: 400px;
          padding: 48px;
        }
        .modal-titulo{
          font-size: 18px;
          text-align: center;
        }
		
        .ancora{
          top: -100px;
        }
        .just-mobile{
          display: none;
        }
      }